<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentadoMapper">

  <select parameterType="map" id="consultarItemsRentados" resultMap="ItemRentadoResult">
	SELECT 
    ir.id as id,
    ir.Items_id as idItem,
    ir.fechainiciorenta as fechainiciorenta,
    ir.fechafinrenta as fechafinrenta
    FROM VI_ITEMRENTADO ir
  </select>

  <select parameterType="map" id="consultarItemsCliente" resultMap="ItemRentadoResult">
	  SELECT 
    ir.id as id,
    ir.Items_id as idItem,
    ir.fechainiciorenta as fechainiciorenta,
    ir.fechafinrenta as fechafinrenta
    FROM VI_ITEMRENTADO ir
    WHERE #{idCliente}=ir.CLIENTES_documento;
  </select>

  <select parameterType="map" id="consultarItemRentado" resultMap="ItemRentadoResult">
	  SELECT 
    ir.id as id,
    ir.Items_id as idItem,
    ir.fechainiciorenta as fechainiciorenta,
    ir.fechafinrenta as fechafinrenta
    FROM VI_ITEMRENTADO
    WHERE #{idCliente}=ir.CLIENTES_documento AND ir.Items_id = #{idRentado}
    LIMIT 1;
  </select>

  <resultMap type="ItemRentado" id="ItemRentadoResult">
    <id property="id" column="id"/>
    <result property="fechainiciorenta" column = "fechainiciorenta"/>
    <result property="fechafinrenta" column="fechafinrenta"/>
    <association property="item" javaType="Item"></association>
  </resultMap>
          	
</mapper>