<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper">

  <select parameterType="map" id="getTiposItems" resultMap="TipoItemResult">
    SELECT 
    ti.id as idTipoItem,
    ti.descripcion as descripcionTipoItem
    FROM VI_TIPOITEM ti
  </select>

  <select parameterType="map" id="getTipoItem" resultMap="TipoItemResult">
    SELECT 
    ti.id as idTipoItem,
    ti.descripcion as descripcionTipoItem
    FROM VI_TIPOITEM ti
    WHERE #{identiTipo} = ti.id;
  </select>

  <insert id="addTipoItem" parameterType="map">
    INSERT INTO VI_TIPOITEM (id, descripcion)
    VALUES (#{tipo.id},#{tipo.descripcion});
  </insert>

  <resultMap type="TipoItem" id="TipoItemResult">
    <id property="id" column="idTIpoItem"/>
    <result property="descripcion" column="descripcionTipoItem"/>
  </resultMap>      

</mapper>